html{
  height:100%;
}
body{
    height: 100%;
}

/**Error404**/
#backgroundError404{
  height: 100vh;
  background-image: url("../imgs/background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#alertError404{
  margin: 10px;
}
.titleError404{
  color: white;
  text-align: center;
  font-size: 20pt;
}
.imgError404{
  width: 350px;
}
/*Autencticacão*/
#alertLogin{
  background-color: #5d2c88;
  color: white;
  text-align: center;
  margin: 0px;
}

#columnLeft{
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    width: 70%;
    height: auto;
}

#columnRight{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
  min-height: 100vh;
}

#inputEmail{
  width: 280px;
}

#inputSenha{
  width: 280px;
}

#buttonSubmit{
  width: 265px;
  width: 280px;
}
.site{
  position: absolute;
  color: #5d2c88;
  bottom: 0px;
}
.site:hover{
  color:#5d2c88;
}

/*FimAutencticacão*/

/*InicioAdm*/
#columnMenu{
  background-color: #481a68;
}
#infoSection{
  background-color: #dcddde;
}
#columnInfoPessoais,#columnEndereco,#columnConta{
  background-color: #eff0f0;
}
#menu{
  background-color: #481a68;
  min-height: 100vh;
  height: auto;
}
#containerInfoPessoais,#containerEndereco,#containerConta{
  background-color: #eff0f0;
}

/**Menu**/
#menu{
  padding: 0rem;
}

/* define a fixed width for the entire menu */
.navigation {
  width: auto;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #481a68;
  text-decoration: none;
  padding: 10px;
  color: white;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #8c3fcf;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #7134a7;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #8c3fcf;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
/**FimMenu**/
